.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.news-card {
	float:left;
	width: 80%;
	overflow: hidden;
	background-color: #fff;
	border: 1px solid #e4e4e4;
	border-radius: 1rem;
	margin-bottom: 15px;
	padding: 20px;
  margin: 30px;
  align-items: ce;
	padding-bottom: 0px;
	transition: 0.5s;
	word-wrap: break-word;
}
a{
  text-decoration: none;
}
.news-content {
	width: 100%;
  font-size: large;
}
.news-content h3 {
	color: #333;
	font-size: 16px;
	font-weight: 600;
	margin-bottom: 15px;
	display: block;
	max-height: 400px;
}

.news-card-img {
  width:20%;
  height: 130px;
  border-radius: 5%;
	float: left;
  margin-right: 20px;
  object-fit: cover;
}
.news-bottom {
  color: #616161;
  margin: 15px;
	border-top: 1px solid #e5e5e5;
	float: left;
	width: 100%;
}
.news-source {
  padding: 15px;
	float: left;
}
.news-time {
  padding: 15px;
	float: right;
}
.nav {
  background: transparent;
  height: 85px;
  margin-top: 10px;
  justify-content: space-between;
  padding: 0.2rem calc((100vw - 1000px) / 2);
  z-index: 12;
}
.nav-menu{
  display: flex;
  align-items: center;
  margin-right: -24px;
}
.nav-button {
  border-radius: 4px;
  border:1px solid;
  border-color: #000000d5;
  padding: 10px 22px;
  color: #000000;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  text-decoration: none;
  /* Second Nav */
  margin-left: 24px;
}
.nav-button:hover {
  background-color: #bdb9b9d5;
  border-color: transparent;
}
.img-con{
  width: 30%;
  object-fit: cover;
}